<% if message.image? %>
  <div class="message-image">
    <%= image_tag message.image.url %>
  </div>
<% else %>
  <div class="message-text">
    <%= raw Rinku.auto_link(h(message.content), :all,'target="_blank"') %>
  </div>
<% end %>
<div class="message-time">
  <%= format_time(message.created_at) %>
</div>