<% flash.each do |message_type, message_content| %>
  <div class="ui compact <%= message_type %> message transition" id="infoMsg">
    <div class="header">
      <%= message_content %>
    </div>
  </div>
<% end %>